# config 
NODE_ENV=local
TZ=America/Los_Angeles

# Database (Postgres)
DATABASE_TYPE=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_NAME=dbname
DATABASE_LOGGING=false

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0

# Web
WEB_PORT=XXXX
NEXT_PUBLIC_BASE_URL=http://localhost
NEXT_PUBLIC_API_BASE_URL=http://localhost
NEXTAUTH_SECRET=1234

# API 
API_PORT=XXXX
APP_ORIGIN=http://localhost
#API_ORIGIN=http://localhost
API_ORIGIN=https://local-api.0xfreddie.xyz
ALLOWED_CORS_ORIGIN=http://localhost,*

JWT_PRIVATE_BASE64=1234abcd
JWT_PUBLIC_BASE6=1234abcd

TELEGRAM_BOT_TOKEN=abcd
TELEGRAM_WEBHOOK_PATH=/telegram/1234
GOOGLE_CREDENTIALS_BASE64=abcd1234
GOOGLE_PROJECT_ID=project-id
GOOGLE_KMS_LOCATION_ID=location-id
GOOGLE_KEY_RING_ID=key-ring-id
GOOGLE_KMS_AES_KEY_ID=key-id
POLYGON_RPC_URL=https://rpc.com/
POLYGON_WSS_URL=wss://rpc.com/
POLYGON_CHAIN_ID=137
POLYMARKET_API_HOST=https://host.com
POLYMARKET_API_KEY=123abcd
POLYMARKET_API_SECRET=1234abcd
POLYMARKET_API_PASSPHRASE=1234abcd